
/*reminder: use Roboto, 'Francois One', 'Lobster', cursive*/
/*green hexid:#8CC63E, grey hexid:#5D5D5D, teal: #00A79D*/

/*---------style for home page----------------------*/

html {
  background-image: linear-gradient(white 45%, #00FFFF);

}
/*--------------header styles-----------------------*/
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-image {
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 250px;
}

.sub-title {
  text-align: center;
  font-weight: lighter;
  font-stretch: extra-condensed;
  font-family: 'Lobster', cursive;
  color: #00A79D;
  margin: 0;
}

.nav {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #8CC63E;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.sub-header {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8CC63E;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.greeting {
  font-size: 60px;
  text-align: center;
  font-weight: lighter;
  font-stretch: extra-condensed;
  font-family: 'Lobster', cursive;
  color: white;
  margin: 0;
}
.social-media {
  justify-content: space-around;
}
.login {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: #00A79D;
  font-family: 'Lobster', cursive;
  justify-content: center;
  align-items: center;
}
#submit, .submit {
  color: #00A79D;
}
/*----------------header style end---------------*/

/*------------------form style and nav style----------------*/



button {
  font-family: 'Francois One', sans-serif;
  /*color: #00A79D;*/
}

legend {
  font-family: 'Francois One', sans-serif;;
}

 a {
   font-family: 'Francois One', sans-serif;;
   font-size: 20px;
   text-decoration: none;
   color: white;
 }
 .home-button {
   background-color: #00A79D;
   text-align: center;
   font-family: 'Francois One', sans-serif;;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
 }
 .about-button {
   background-color: #00A79D;
   text-align: center;
   font-family: 'Francois One', sans-serif;;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
 }

 label input {
   font-family: 'Francois One', sans-serif;
   padding: 5px;
 }

.new-form {
  width: 300px;
}

.do-hand {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text-link {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #00A79D;
  font-family: 'Francois One', sans-serif;;
  font-size: 30px;

}
.ask-hand {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.seeker-box, .poster-box {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  border: 10px solid #8CC63E;
  padding: 10px;
}

main {
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

fieldset {
  border: 1px solid #8CC63E;
  color: #00A79D;
  font-family: 'Francois One', sans-serif;;
}
/*-------------style for about us page-------------*/

h1 {
  font-family: 'Lobster', cursive;
}

/*.nav {
  align-content: space-around;
  text-align: center;
  font-family: 'Francois One', sans-serif;;
}*/

.bio-container {
    font-family: 'Francois One', sans-serif;;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


 .person1 {
    width: 300px;
    height: 500px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 2px;
    margin-left: 2px;

}

 .person2 {
   width: 300px;
   height: 500px;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-right: 2px;
   margin-left: 2px;

}

 .person3 {
   width: 300px;
   height: 500px;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-right: 2px;
   margin-left: 2px;

}

 .person4 {
   width: 300px;
   height: 500px;
   justify-content: flex-start;
   flex-wrap: wrap;
   margin-right: 2px;
   margin-left: 2px;

}

.person1-bio, .person2-bio, .person3-bio, .person4-bio {
  font-family: 'Roboto', sans-serif;
}

.person1-pic, .person3-pic, .person4-pic {
  width: 200px;
  height: 150px;
  justify-content: flex-start;
  flex-wrap: wrap;

}

#person2-pic {
  background-image: url('https://avatars1.githubusercontent.com/u/22847819?v=3&s=460');
  background-size: cover;
  width: 200px;
  height: 150px;
}

#person2-pic:hover {
  background-image: url('https://media.giphy.com/media/xT9KVluGDHZvOk0tdC/giphy.gif');
}

 .about-us-footer{
  width: 300px;
  height: 500px;
  flex-wrap: wrap;
  text-align: center;
}

/*****************Post-board page styles****************/
table{
  border: solid 2px blue;
  margin-left: 15%;
  margin-bottom: 5%;
}

thead{
  font-weight: bold;
}

thead td{
    width: 15%;
    background-color: grey;
}


tr {
    background-color: lightgrey;
}

td {
  background-color: lightgrey;
  font-size: 1.2em;
}

tr {
  background-color: grey;
}


.jobsMap{
  margin-left: 30%;
}

.available {

  color: black;
}

.unavailable {
  color: grey;
}

.map {
        height: 400px;
        width: 60%;
       }
/*************End of post-board styles****************/
