/*****************Post-board table styles****************/
table{
  border: solid 2px blue;
}

thead{
  font-weight: bold;
  background-color: grey;
}

thead td{
    
}
td{

  font-size: 1.2em;
}


/*************End of post-board styles****************/
